body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

.complete {
    color: #5f6368;
    text-decoration: line-through;
}

.hover {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
    transition: all .45s;
}

.fa-book-open {
    color: #f4b607;
}

#notearea {
    margin: 15% auto;
    width: 450px;
    border: 1px solid #e0e0e0;
    padding: 20px;
    border-radius: 8px;
}

input {
    width: 50%;
    height: 40px;
    padding: 0px 10px;
}