body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

input {
    width: 50%;
    height: 40px;
    padding: 0px 10px;
    color: #455A64;
    outline: none;
}

li {
    height: 40px;
    line-height: 40px;
}

li:nth-child(2n) {
    background-color: #ECEFF1;
}

.title {
    margin: 0;
    padding: 20px;
}

.complete {
    color: #5f6368;
    text-decoration: line-through;
}

.hover {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
    transition: all .45s;
}

.expand {
    width: 60%;
    height: 50px;
    padding: 0px 15px;
    transition: all .45s;
    border: 2px solid #455A64;
}

.fa-book-open {
    color: #f4b607;
    margin-right: 15px;
}

.navbar {
    background-color: #455A64;
}

#notearea {
    margin: 10% auto;
    width: 450px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
}